* {
    font-family: "Poppins", sans-serif;
    background-color: #dddddd;
    color: #000000;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 2.3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.2%;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.20rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2.8%;
}

h4 {
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1.5%;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.64rem;
    text-transform: uppercase;
    color: #bdbdbd;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

h7 {
    color: #888888;
    font-weight: normal;
    font-style: normal;
    font-size: .8em;
}

p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

i {
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1.5%;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

svg {
    padding: 0.5% 2% 0 0;
}

#photo {
    width: 100%;
}

.b {
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1.5%;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1% 10.5%;
}

.header {
    margin-bottom: 4%;
}

.header-down {
    display: flex;
    width: 80%;
    margin: 1.5% 0 5% 0;
}

.content {
    display: flex;
}

.left {
    width: 80%;
}

.div-ingredients-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2%;
}

.element {
    display: flex;
    justify-content: baseline;
    align-content: center;
}

.check {
    width: 17px;
    height: 17px;
}

.instructions-item {
    display: flex;
    margin-bottom: 3%;
}

.num {
    display: flex;
    background-color: #F2994A;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: white;
}

.item {
    margin-left: 1.5%;
    width: 94.5%;
}

.right {
    width: 20%;
    display: flex;
    margin-right: 3%;
    flex-direction: column;
}

.card {
    border: 2px solid rgba(31, 31, 31, 0.021);
    border-radius: 3%;
    padding: 20% 15%;
    /* box-shadow: 1px -1px rgb(20, 27, 27); */
}

#orangeic {
    color: #F2994A;
}

#orange {
    color: #F2994A;
}

.right-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
}

footer {
    display: flex;
    justify-content: center;
}